{% extends "base.html" %}
{% block content %}

<h1>{{ user.username }}'s Profile</h1>
    
<!-- Display user's posts -->
<div class="ProfileDiv">
    <h2> Posts:</h2>
    {% for post in posts %}

        <div class="PostContent">
            <p>{{ post.content }}</p>
            <!-- Add other post details as needed -->
        </div>

    {% endfor %}

    {% if current_user != user.id %}
        <!-- Display follow/unfollow button if the user is not the currently logged-in user -->

        <button id="follow-button" style="background-color: #50C99A;"  data-user-id="{{ user.id }}">
            
            {% if follower %}

                Unfollow  

            {% else %}

                Follow

            {% endif %}
        </button>
        

    {% else %}

    {% endif %}
        <script src="{{ url_for('static', filename='scrip1.js') }}"></script>


</div>


{% endblock %} 